.corpo{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    gap: 5px;
}

.header{
    background-color: #242527;
    color: #F6FCFD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    height: 10vh;
}

.principal{
    display: flex;
    flex-direction: column;
    height: 70vh;
    gap: 10px;
}

.pesquisa{
    display: flex;
    justify-content: center;
    height: 8vh;
    width: 100%;
}

#barra{
    display: flex;
    justify-content: center;
    background-color: bisque;
    padding: 3px;
    height: 60%;
    gap: 8px;
    border-radius: 3px;
}

.rank_e_produtos{
display: flex;
flex-direction: row;
gap:20px;
width: 100%;
}

#filtro{
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: space-between;
background-color:#242527;
padding: 10px;
width:20%;
color:white;
height: 30vh;
overflow-y: scroll;
}

#filtro-popup{
    display: flex;
    width: 100%;
    justify-content: end;
}

#div-itens{
display: flex;
flex-direction:column;
background-color:bisque;
padding: 10px;
width:70%;
}

.item{
    background-color:#242527;
    padding: 5px;
    color:  #F6FCFD;
    width: 30%;
    border-radius: 3px;
}

#pesquisa-div{
display: flex;
flex-direction:row;
gap: 5px;
flex-wrap: wrap;
}

h2{
    background-color: #242527;
    color: #F6FCFD;
    border-radius: 1px;
    width: 100%;
}

h3{
    background-color:darkcyan;
    color: #F6FCFD;
    border-radius: 1px;
    width: 80%;
    padding: 3px;
    margin: 0;
}

.footer{ 
    background-color: #242527;
    color: #F6FCFD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 3vh;
    width: 100%;
    margin-top: 10vh;
}